/* .flexbox{
    display:flex;
    flex-wrap: wrap;
} */

.whiteboxx{
    display: inline-block;
    height:250px;
    width:250px;
    border: 1px solid black;
    margin-right:1rem;
    /* flex:1,1,3; */

}


.img{
    background-image: url(manuu\ logo.jpg);
    height:200px;
    width:200px;
    background-color: antiquewhite;
    object-fit: cover;
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    position: relative;
    top: 20px;
    left: 20px;

}
.hide{
    display:none;
}
 
.hold{
    border:2px solid violet;
    box-shadow: 20px,2px lightcoral;
}

