body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  height:90%;
  margin-top: 5px;
}

.multicolortext {
  background: linear-gradient(
    to right,
    red,
    orange,
    green,
    blue,
    violet
  ); /* You can adjust these colors */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: xx-large;
}

.content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 20px;
  height: 80%;
  width: 90%;
  margin: auto;
  background: linear-gradient(rgba(215, 204, 204, 0.5), rgba(233, 239, 239, 0.5)), url('bg.jpg') ; background-size: cover; background-position: center; 
}

h2 {
  text-align: center;
}


/* NAVBAR STYLING */
.navbar {
  height: 97%; /* 90% of viewport height */
  width: 20%;
;
  background-color: white;
  color: #fff;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between; /* Equal spacing between items */
}

.navbar-item {
  background-color: whitesmoke;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 23%;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-item img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio*/
  border-radius: 10%; /*Make the image circular*/
  transition: transform 0.3s ease-in-out; /*Smooth transition on hover*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-item:hover img {
  transform: scale(1.04); /* Scale up the image on hover */
  filter: brightness(80%); /* Reduce brightness for a dimming effect */
  background-color: #cdf350;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* NAVBAR STYLING END */



/* CONTENT 1 STYLING */
.sub-container {
  display: flex;
  height: 90%;
  width: 100%; /* Ensure full width */
  justify-content:right;
}

.left-sub-container,
.right-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; /* Center content horizontally */
  width:30%;
}

.left-sub-container>div,
.right-sub-container>div{
  padding: 10px 20px; /* Padding around each week */
  margin: 5px 0; /* Margin between each week */
  border-radius: 5px; /* Rounded corners for each week */
  background-color: #f7e2c9;
  cursor: pointer; /* Cursor on hover */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  font-weight: bold;
  width:48%;
  text-align: center;
  transition: transform 0.3s ease-in-out; /*Smooth transition on hover*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.left-sub-container>div:hover,
.right-sub-container>div:hover{
  transform: scale(1.05); /* Scale effect on hover */
  filter: brightness(80%); /* Reduce brightness for a dimming effect */
  background-color: #f3c694;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem; 
}
/* 1 CONTENT STYLING END  */



/* CONTENT 2 STYLING */
#content2 {
  background-color: #fff; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  padding: 20px; /* Padding inside the content */
}

#content2 .sub-container2 {
  display: flex;
  align-items: center;
  height: 80%;
  justify-content:right;
  width: 100%;
}
.text-img {
  display: flex;
  height: 100%;
  width: 70%;
}

.text {
  text-align: center;
  align-self:center;
  width: 52%;
}


#content2 .sub-container2 .img-content {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-content: end;
  justify-content: end;
}
#content2 .sub-container2 .img-content img {
  height: 70%;
  width: 100%;
  align-self: flex-end;
}



#content2 > div > div.text-img > div.img-content > img:nth-child(2) {
  align-self: flex-end;
}
#content2 .sub-container2 .week-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100%;
  /* width:auto; */
  justify-content: space-evenly;
  padding-left: 4rem;}

#content2 .sub-container2 .week-content > div {
  padding: 10px 20px; /* Padding around each week */
  margin: 5px 0; /* Margin between each week */
  border-radius: 5px; /* Rounded corners for each week */
  background-color: #cde7f2;
  cursor: pointer; /* Cursor on hover */
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out; /*Smooth transition on hover*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#content2 .sub-container2 .week-content > div:hover {
  transform: scale(1.07); /* Scale up the image on hover */
  filter: brightness(80%); /* Reduce brightness for a dimming effect */
  background-color: #8cdafb;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
}
/* END OF CONTENT 2 STYLING */




/* STYLING FOR CONTENT 3 */
.content3{ height:90% ; width: 100%; display: flex; align-items: center; }

#content3 .sub-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 50%;
  justify-content: space-evenly;
  border:2px solid red;
}

#content3 .sub-container3 > div {
  padding: 10px 20px; /* Padding around each week */
  margin: 5px 0; /* Margin between each week */
  border-radius: 5px; /* Rounded corners for each week */
  cursor: pointer; /* Cursor on hover */
  font-weight: bold;
  transition: transform 0.3s ease-in-out; /*Smooth transition on hover*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width:30%;
  text-align: center;
  background-color: #f7e2c9;
}

#content3 .sub-container3 > div:hover {
  transform: scale(1.05); /* Scale effect on hover */
  filter: brightness(80%); /* Reduce brightness for a dimming effect */
  background-color: #f3c694;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
}/* END OF STYLING FOR CONTENT 3 */




.hidden {
  display: none;
}

