/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.buttons-container {
  text-align: center;
}

/* Button styles */
.button {
  border: none;
  height: 6rem;
  width: 5rem;
  border-radius: 20%;
  box-shadow: 5px 5px 5px grey;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  height: 6.1rem;
  width: 5.1rem;
}

/* refresh-container styling */
.refresh-container {
  margin-top: 10px; /* Adjust as needed */
}
.refresh-container:hover {
  box-shadow: 5px 5px 5px rgb(229, 218, 218);
}
/* Responsive styles */
@media (max-width: 768px) {
  .button {
    height: 5rem;
    width: 4rem;
  }

  .button:hover {
    height: 5.1rem;
    width: 4.1rem;
  }
}

@media (max-width: 480px) {
  .button {
    height: 4rem;
    width: 3rem;
  }

  .button:hover {
    height: 4.1rem;
    width: 3.1rem;
  }

  h3 {
    font-size: 1rem;
  }
}
