body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
   /* .container {
    text-align: center;
    padding: 20px;
  }
  
  .weekday-container {
    margin-top: 20px;
  }
  
  .weekday {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  } */
  
  #next-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 


  .multicolortext {
    background: linear-gradient(
      to right,
      red,
      orange,
      green,
      blue,
      violet
    ); /* You can adjust these colors */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
  }
  

  .multicolortext {
    background: linear-gradient(
      to right,
      orange,
      green,
      blue,
      violet
    ); /* You can adjust these colors */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
  }
  