body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
.Wcontainer{ border:20px solid red;
  width: 80vw;
  height: 80vh;

}

.weekday-container{ border:2px solid black;
  height: 10%; float: right;
  width: 50%;
  text-align: center;
  text-shadow: #0713ff;

}


.wmentor{ 
  
  clear: both;border:2px solid blue; 
  height: 70%;
  display: flex;

}

.wmentor-img{  border:2px solid violet;
  height: 80%;  text-align: center;padding: auto;

}

.wmentor-text{ border:2px solid green;  text-align: center;}
  
  #next-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0713ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 


 
  

  .multicolortext {
    background: linear-gradient(
      to right,
      orange,
      green,
      blue,
      violet
    ); /* You can adjust these colors */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
  }
  .new-div{
    display: none;
  }
  